@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*propriedade do body completo */
body {
    background-image: url('./images/vivi.jpg');
    background-size: cover; /* para cobrir todo o corpo */
    background-position: center; /* para centralizar a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

/*propriedade do texto*/
#text {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/*propriedade do tamanho do envelope*/
#envolpe_img img {
    width: 20rem;
    height: 20rem;
}

/*propriedade das imagens laterais*/
#left-image,
#right-image {
    width: 15rem; /* ajuste conforme necessário */
    height: auto; /* ajuste conforme necessário */
    animation: blink 6s infinite;
    position: absolute;
}

/*ajuste da imagem esquerda*/
#left-image {
    position: absolute;
    left: 5rem; /* ajuste conforme necessário */
    top: 15%;
    z-index: 0;
}

/*ajuste da imagem da direita*/
#right-image {
    position: absolute;
    right: 5rem; /* ajuste conforme necessário */
    top: 15%;
    z-index: 0;

}

/*ajuste do botao*/
#button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

/*propriedade da caixa de dialogo*/
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0px 2px 2px rgba(0, 0, 0.8, 0.8);
}

/*tamanho do coracao*/
.coracao{
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fecharModal {
    display: flex;
    justify-content: end;
    align-items: end;
}

.fecharModalP {
    cursor: pointer;
    font-weight: bolder;
}

#yes {
    cursor: pointer;
}

#no {
    cursor: pointer;
}

.dialog button {
    width: 4rem;
    border: none;
    box-shadow:0px 2px 2px rgba(0, 0, 0.8, 0.8);
    height: auto;
    border-radius: 16px;
    background-color: #FF90BC;
    padding: 0.5rem;
}

.buttons {
    width: 65%;
    display: flex;
    justify-content: space-between;
}



/* Para dispositivos com largura máxima de 1200px */
@media only screen and (max-width: 1200px) {
    /* Reduzir o tamanho das imagens do envelope */
    #left-image,
    #right-image {
        width: 12rem;
    }
}

/* Para dispositivos com largura máxima de 992px */
@media only screen and (max-width: 992px) {
    /* Ajustar o tamanho das imagens */
    #left-image,
    #right-image {
        width: 10rem;
    }
}

/* Para dispositivos com largura máxima de 870px */
@media only screen and (max-width: 870px) {
    /* Reduzir o tamanho das imagens do envelope */
    #left-image,
    #right-image {
        width: 8rem;
    }
}

/* Para dispositivos com largura máxima de 600px */
@media only screen and (max-width: 600px) {
    /* Ajustar o tamanho das imagens */
    #left-image,
    #right-image {
        width: 6rem;
    }
}

/* Para dispositivos com largura máxima de 500px */
@media only screen and (max-width: 500px) {
    /* Reduzir o tamanho das imagens do envelope */
    #left-image,
    #right-image {
        width: 5rem;
    }
}

@media only screen and (max-width: 414px) {
    /* Ajustes para iPhone 11 */
    .image-container {
        flex-direction: column; /* Alteração para colocar as imagens abaixo do envelope */
        align-items: center;
    }

    #left-image,
    #right-image {
        width: 3rem;
        margin-top: 20rem; /* Espaçamento entre o envelope e as imagens */
        margin-left: 10rem;
        margin-right: 10rem;
    }

    /*tamanho da imagem no celular*/
    #left-image,
    #right-image {
        width: 7rem; /* Aumento da largura das imagens */
        height: auto; /* Mantém a proporção */
    }

    /*adicionando espaçamento entre os botoes sim e nao*/
    .buttons button {
        margin: 0 5px; 
    }
}

/* Para dispositivos com largura máxima de 395px */
@media only screen and (max-width: 395px) {
    /* Ajustar o tamanho das imagens */
    #left-image,
    #right-image {
        width: 4rem;
    }
    /* Aumentar o espaçamento entre os botões */
    .buttons button {
        margin: 0 8px;
    }
}

